<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{title}}</div>
        {{author}}
    </div>
    <a role="button" onclick="deleteBook({{librarybook.id}})" class="btn btn-outline-dark shadow my-3 mb-3 rounded m-2 p-1 text-white" style="background-color: red;">Delete</a>
</li>