<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registry</title>
    <link rel="stylesheet" href="/css/jass.css" />
    {{!Add in link to bootstrap when ready }}
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
      {{! add nav bar  }}
      <nav class="col-12">
        <button class="btn btn-primary" id="home">Home</button>
        <button class="btn btn-primary" id="libraries">Browse Libraries</button>
        <button class="btn btn-primary" id="search">Search</button>
        {{#if logged_in}}
          <button class="btn btn-primary" id="logout">Logout</button>
        {{else}}
          <button class="btn btn-primary" id="login">Login</button>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>
      {{! *Made by*  }}
    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
<<<<<<< HEAD
    {{> navbar}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    {{!-- *Made by* --}}


  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
=======
  </body>
>>>>>>> 20e06a928719cec0584aeb001aa3f0a1e274228a

</html>