<div class="container row align-items-center min-vh-50 bg-dark p-2 bg-opacity-25 shadow mb-3 rounded justify-content-center d-flex" style="height: 500px; width: auto;"
>
    <h1>404 error</h1>
<img src="/images/new_404.png" alt="404" width="10" height="300">
  <p>There has been an error in trying to load this page.
<br><br> 
If you came upon this page by mistake, try checking the URL in your web browser.</p>
</div>