<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container pt-5" id="bookInfo">
        <h2>{{book.info}}</h2>
        <img src="" alt="Book Cover" />
        <div class="listContainer container row justify-content-center">
            <div class="userLinks col">
                <div class="userList col align-top" id="dashboardLinks">
                    <h5>Username</h5>
                    <ul class="list-group">
                        <a href="" class="list-group-item">Reading List</a>
                        <a href="" class="list-group-item">Favorites</a>
                        <a href="" class="list-group-item">Manage Libraries</a>
                        <a href="" class="list-group-item">Account</a>
                        <a href="" class="list-group-item">Logout</a>
                    </ul>
                </div>
            </div>
            <div class="userList col align-top" id="checkedOut">
                <h5>Checked Out</h5>
                <ul class="list-group">
                    <li class="list-group-item">The Hobbit</li>
                    <li class="list-group-item">The Pillars of the Earth</li>
                    <li class="list-group-item">The Silence of the Lambs</li>
                </ul>
            </div>
            <div class="userList col align-top" id="checkedOut">
                <h5>My Libraries</h5>
                <ul class="list-group">
                    <li class="list-group-item">Addison St Community Library</li>
                    <li class="list-group-item">Damen Ave Community Library</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<div class="container pt-5" id="bookInfo">
    <h2>{{book.info}}</h2>
    <img src="" alt="Book Cover" />
    <div class="listContainer container row justify-content-center">
        <div class="userLinks col">
            <div class="userList col align-top" id="dashboardLinks">
                <h5>Username</h5>
                <ul class="list-group">
                    <a href="" class="list-group-item">Reading List</a>
                    <a href="" class="list-group-item">Favorites</a>
                    <a href="" class="list-group-item">Manage Libraries</a>
                    <a href="" class="list-group-item">Account</a>
                    <a href="" class="list-group-item">Logout</a>
                </ul>
            </div>
        </div>
        <div class="userList col align-top" id="checkedOut">
            <h5>Checked Out</h5>
            <ul class="list-group">
                <li class="list-group-item">The Hobbit</li>
                <li class="list-group-item">The Pillars of the Earth</li>
                <li class="list-group-item">The Silence of the Lambs</li>
            </ul>
        </div>
        <div class="userList col align-top" id="checkedOut">
            <h5>My Libraries</h5>
            <ul class="list-group">
                <li class="list-group-item">Addison St Community Library</li>
                <li class="list-group-item">Damen Ave Community Library</li>
            </ul>
        </div>
    </div>
</div>