<h1 class="text-center text-dark" style="font-family: 'Caveat', cursive;">Browse Libaries</h1>
<div class="justify-center bg-dark p-2 bg-opacity-25 shadow mb-5 rounded">
  <div style="background-color: rgba(245, 235, 215, 0.1);">
    <h4 class="text-left p-3 text-dark" style="font-family: 'Comfortaa', cursive;">Click on a library for more details.</h4>
    <div class="container row row-cols-1 row-cols-md-3 g-4" style="font-family: 'Comfortaa', cursive;">
      <!-- Here's where our Get All Libraries results will live. -->
        {{#each libraries as |library|}}
        <div class="col">
          <div class="card text-dark shadow mb-5" style="background-color: #F5EBD7;">
            <div class="card-body">
              <h5 class="card-title text-dark">{{library.name}}</h5>
              <p class="card-text">{{library.address}}</p>
            </div>
            <div class="card-body">
              <button class="btn btn-outline-dark shadow my-3 mb-3 rounded" type="button" onclick="location.href='/libraryinfo/{{library.id}}'" style="background-color: #A6B7BE;">View Library Books</button>
            </div>
          </div>
        </div>
        {{/each}}
  </div>
  </div>
</div>