<form>
    <div class="justify-content-center form-group library-signup">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="My New Library">
        <br>
        <label for="exampleFormControlInput1">Email address</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="My New Library">
        <br>
        <label for="exampleFormControlInput1">Email address</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="My New Library">
        <br>
    </div>
</form>