<div class="container pt-5" id="userContainer">
    <h2>Hello, USERNAME.</h2>
    <img src="" alt="User Photo" />
    <div class="listContainer container row justify-content-center">
        <div class="userLinks col">
            <div class="userList col align-top" id="dashboardLinks">
                <h5>Username</h5>
                <ul class="list-group">
                    <a href="" class="list-group-item">Reading List</a>
                    <a href="" class="list-group-item">Favorites</a>
                    <a href="" class="list-group-item">Manage Libraries</a>
                    <a href="" class="list-group-item">Account</a>
                    <a href="" class="list-group-item">Logout</a>
                </ul>
            </div>
        </div>
        <div class="userList col align-top" id="checkedOut">
            <h5>Checked Out</h5>
            <ul class="list-group">
                <li class="list-group-item">The Hobbit</li>
                <li class="list-group-item">The Pillars of the Earth</li>
                <li class="list-group-item">The Silence of the Lambs</li>
            </ul>
        </div>
        <div class="userList col align-top" id="checkedOut">
            <h5>My Libraries</h5>
            <ul class="list-group">
                <li class="list-group-item">Addison St Community Library</li>
                <li class="list-group-item">Damen Ave Community Library</li>
            </ul>
        </div>
    </div>
</div>