<div class="bg-dark p-2 bg-opacity-25 shadow mb-5 rounded">
  <div class="rounded-circle" style="background-color: rgba(245, 235, 215, 0.1);">
    <div class="container col pt-5 box-shadow-inset">
      <h1 class="text-center text-dark" style="font-family: 'Caveat', cursive;">Fully Booked</h1>
      <h5 class="text-center text-dark" style="font-family: 'Comfortaa', cursive;">Virtual Community Library</h5>
      <article class="pt-3 text-center text-dark" style="font-family: 'Comfortaa', cursive;">
        <p>
          Find and create libraries in your community. Search to see what books
          exist in community libraries near you!
          <br />
          Sign up to checkout books and manage your libraries.
        </p>
      </article>
      <div class="text-center py-3" style="font-family: 'Comfortaa', cursive;" id="buttonsHome">
        <button
          type="button"
          onclick="location.href='/browse'"
          class="btn btn-outline-dark shadow"
          style="background-color: #A6B7BE;"
        >Browse Libraries</button>
        <button
          type="button"
          onclick="location.href='/search'"
          class="btn btn-outline-dark shadow"
          style="background-color: #A6B7BE;"
        >Search</button>
        <button
          type="button"
          onclick="location.href='/login'"
          class="btn btn-outline-dark shadow"
          style="background-color: #A6B7BE;"
        >Signup</button>
      </div>
      <div class="text-center pt-3">
        <img
          src="/images/logo.png"
          alt="Fully Booked Logo"
          class="shadow mb-5 rounded-circle"
          style="height: 250px;"
        />
      </div>
    </div>
  </div>
</div>