<div class="container col pt-5">
  <h1 class="text-center">Fully Booked</h1>
  <h5 class="text-center">Virtual Community Library</h5>
  <div class="text-center pt-3">
    <img src="" alt="Fully Booked Logo" />
  </div>
</div>
<article class="pt-5 text-center">
  <p>
    Find and create libraries in your community. Sign up to checkout books
    and manage your libraries.
  </p>
  <p>Or, search to see what books exist in community libraries near you!</p>
</article>
<div class="text-center" id="buttonsHome">
  <button type="button">Browse Libaries</button>
  <button type="button">Search</button>
  <button type="button">Sign Up</button>
</div>