<div class="d-flex justify-content-center bg-dark p-2 bg-opacity-25 shadow mb-5 rounded">
  <div style="background-color: rgba(245, 235, 215, 0.1);">
    <div class="container container-fluid justify-center container">
      <div class="row">
        <h1 class="text-center">{{library.name}}</h1>
      </div>
      <div class="card-deck row">
        {{#if logged_in}}
        {{#each library.books as |book|}}
        {{> book-card logged_in=true }}
        {{/each}}
        {{else}}
        {{#each library.books as |book|}}
        {{> book-card}}
        {{/each}}
        {{/if}}

      </div>
    </div>
  </div>
</div>
<script src="/js/checkOutBook.js"></script>