<h2>Login</h2>

<div class="col-6">
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
  </form>
</div>

<div class="col-6">

  <form class="form signup-form" style="border:1px solid #ccc">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" id="name" required>
    <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" id="email" required>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" required>
    <br>
    <label for="pass-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" id="RP" required>
    <br>
    <label for="zipcode"><b>Zipcode</b></label>
    <input type="text" placeholder="Enter Zipcode" id="zipcode" required>
    {{!-- <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me --}}
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix justify-content-center">
      <button type="button" class="cancelbtn m-1" onclick="location.href='/'">Cancel</button>
      <button type="submit" class="signupbtn m-1">Sign Up</button>
    </div>
  </form>
</div>


<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>