<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Browse">Browse</a></li>
            <li><a href="#Login">Login</a></li>

        </ul>
    </nav>

   
        <input type="text" id="userSearch"
        class="w-1/3 my-2 border-solid border-2 border-black-600 rounded-lg shadow-sm focus:outline-none focus:border-blue-300 focus:ring-1"
        placeholder="Search For Books">
      <div id="buttons" class="w-full flex my-5 justify-center">
        <button id="searchButton" class="rounded-lg p-2 text-xl bg-[#4A476B] border-solid border-2 border-gray-900 text-white">
          Search
        </button>
      </div>
    </div>
</body>
</html>