<div class="topnav">
  <div class="search-container">
    <form class="justify-content-center text-center">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>
</div>