<div class="search-container">
  <form class="justify-content-center text-center">
    <input type="text" placeholder="Search..." name="search" id="searchBar"/>
    <button type="submit" id="searchBtn">Search</button>
  </form>
  <div class="results">
    
  </div>
</div>