<div class="container-fluid">
    <div class="row justify-content-center form-group">
        <div class="col-5 m-2 border rounded">
            <form class="form update-library">
                <h3>If you would like to update your Library please update the following information. A 5 digit zip is
                    required to update your library.</h3>
                <label for="exampleFormControlInput1">Library Name</label>
                <input type="text" class="form-control" id="name" value="{{library.name}}">
                <br>
                <label for="exampleFormControlInput1">Library Address</label>
                <input type="text" class="form-control" id="address" value="{{library.address}}">
                <br>
                <label for="exampleFormControlInput1">Library Zip Code (5 Digits)</label>
                <input type="number" class="form-control" id="zipcode" value="{{library.zip_code}}">
                <br>
                <div class="col-6 m-2">
                    <button type="submit" class="border rounded btn-primary m-2">Update Library</button>
                </div>
            </form>
        </div>

        <div class="col-5 m-2 border rounded">
            <form class="form new-book">
                <h3>In order to add a new book to your library, please enter the book's ISBN number (10 or 13-digit).
                </h3>
                <label for="exampleFormControlInput1">ISBN</label>
                <input type="text" class="form-control" id="isbn" placeholder="9780553288209">

                <div class="col-6 m-2 border rounded">
                    <button type="submit" class="m-1">Add new book</button>
                </div>
                <div class="border rounded container-fluid w-95 h-10 p-2">
                    <ul class="list-group">
                        {{#each library.books as |book|}}
                        {{> book-list}}
                        {{/each}}
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/updatelibrary.js"></script>
<script src="/js/bookFunctions.js"></script>