body {
    width: 100vw;
    background-image: url("/images/background3.jpg");
    background-position: center;
    background-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
};


h1, h2, h3, h4, h5, h6 {
    color: white;
}


/* nav button {
    /* color: black; */


/* }


/* div {
    color: black;
}; */


/* p {
    color: white;
}; */